@import url("https://fonts.googleapis.com/css2?family=Graduate&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  background: #171717;
}

.header {
  margin-top: 1rem;
  margin-bottom: 10rem;
  text-align: center;
  font-family: "Graduate", serif;
  font-size: 3.25rem;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.text {
  color: #dedede;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

button {
	background-color: transparent;
	border: 0.175rem solid #dedede;
	border-radius: 0.6rem;
  margin: 1.5rem 0rem 1.5rem 0rem;
  width: 13rem;
  height: 6rem;
  font-family: "Graduate", serif;
  font-size: 2rem;
  font-weight: 400;
  font-style: normal;
  transition: all 0.4s ease;
}

button:hover {
	transform: scale(1.15);
	background-color: #dedede;
	color: #171717;
}